.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  max-width: 1200px;
  width: 90%;
}

.group {
  margin-top: 1rem;
}

.group label,
.group input {
  display: block;
  width: 90%;
  margin: auto;
  width: 450px;
}

.group input {
  height: 2rem;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 0;
}

.group input:focus {
  outline: none;
  border: 2px solid rgb(0, 68, 255);
  background: rgb(211, 222, 255);
}

.form button {
  margin: 1rem auto;
  margin-left: 135%;
  display: block;
  width: 120px;
}

h2 {
  margin-top: 1rem;
  width: 450px;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}
